{% extends 'bms/base.html' %}
{% block content %}
<!--DatePicker-->
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>  
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

   <script type="text/javascript">
       $(function() {
               $("#id_quot_dt").datepicker({ dateFormat: "yy-mm-dd" }).val()
       });
	$(function() {
               $("#id_frm_dt").datepicker({ dateFormat: "yy-mm-dd" }).val()
       });
	$(function() {
               $("#id_to_dt").datepicker({ dateFormat: "yy-mm-dd" }).val()
       });
   </script>
<style>
	#id_buyer_code {
    width: 70%;
}
</style>
<header>
	Quotation [Add New]
</header>
<center>
<article>
	<table width="36%">
	<tr align="center"><td colspan="2"><h6>[Provide Quotation Number for updating corresponding values]</h6></td></tr>
	<form id="myForm" action="{% url 'bms:quote' %}" method="POST">
	{% csrf_token %}
		{{ form }}
		<tr><td></td><td><input type="submit" value="Submit" class="btn btn-primary"/></td></tr>
	</form>
</table>
</article>
</center>
{% endblock %}