{% extends 'bms/base.html' %}
{% block content %}
<head>
	<script>
	function updateElementIndex(el, prefix, ndx) {
		var id_regex = new RegExp('(' + prefix + '-\\d+)');
		var replacement = prefix + '-' + ndx;
		if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		if (el.id) el.id = el.id.replace(id_regex, replacement);
		if (el.name) el.name = el.name.replace(id_regex, replacement);
	}

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var row = $('.dynamic-form:first').clone(true).get(0);
        $(row).removeAttr('id').insertAfter($('.dynamic-form:last')).children('.hidden').removeClass('hidden');
        $(row).children().not(':last').children().each(function() {
    	    updateElementIndex(this, prefix, formCount);
    	    $(this).val('');
        });
        $(row).find('.delete-row').click(function() {
    	    deleteForm(this, prefix);
        });
        $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
        return false;
    }

    function deleteForm(btn, prefix) {
        $(btn).parents('.dynamic-form').remove();
        var forms = $('.dynamic-form');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
    	    $(forms.get(i)).children().not(':last').children().each(function() {
    	        updateElementIndex(this, prefix, i);
    	    });
        }
        return false;
    }
	</script>
	<script type="text/javascript">
    $(function () {
        $('.add-row').click(function() {
    	    return addForm(this, 'form');
        });
        $('.delete-row').click(function() {
    	    return deleteForm(this, 'form');
        })
    })
    </script>
</head>
<header>
	Quotation Details [Add New]
</header>
<center>
<article>
<table width="50%">
	<form id="myForm" action="{% url 'bms:quotedetails' %}" method="POST">
	{% csrf_token %}
		{{ formset.management_form }}
		<thead>
		<tr align="center">
			<td><b>QUOTE NUMBER</td>
			<td><b>SITE CODE</td>
			<td><b>ITEM</td>
			<td><b>RATE</td>
			<td></td>
		</tr>
		</thead>
		<tbody>
		{% for form in formset.forms %}
		<tr id="{{ form.prefix }}-row" class="dynamic-form">
			<td{% if forloop.first %} class="hidden"{% endif %}><b>{{ form.quot_no }}</td>
			<td><b>{{ form.site_code }}</td>
			<td><b>{{ form.short_name }}</td>
			<td><b>{{ form.rate }}</td>
			<td{% if forloop.first %} class="hidden"{% endif %}>
				<input type="button" value="Delete Row" id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="btn btn-primary delete-row" />
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="5" align="center"><b>Delete extra rows before submitting</td>
		</tr>
		<tr align="center">
			<!--<input type="button" value="Add Row" href="javascript:void(0)" class="btn btn-primary add-row" />--></td>
			<td colspan="5" align="center"><input type="submit" value="Submit" class="btn btn-primary"/></td>
		</tr>
		</tbody>
	</form>
</table>
</article>
</center>
{% endblock %}